html{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
body{
  display: flex;
  flex-flow: column;
  flex: auto;
}
header{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 64px;
  padding: 0px 24px;
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
}
.header-mobile{
  display: none;
}
.logo{
  display: flex;
  flex-flow: row;
  margin-right: auto;
  align-items: center;

}
.logo h3{
  font-size: 24px;
  color: #999999;
}
.logo h3 span{
  color: #333333;
  font-weight: 600;
}
 nav ul{
  list-style: none;
  display: flex;
}
 nav ul li a{
  text-decoration: none;
  padding: 0px 8px;
  font-size: 24px;
  color: #333333;
}
nav ul li a:hover{
  color: blue;
}
.main-banner{
  margin-top: 64px;
  display: flex;
  flex-flow: row;
  background-color: skyblue;
  padding: 32px 24px;
  overflow: auto;
  z-index: 1;
}
.main-banner img{
  width: 60%;
  margin-right: 24px;
}
.main-banner-right{
  display: flex;
  flex: auto;
  flex-flow: column;
  width: 40%;
  line-height: 1.4;
  justify-content: center;
}
.c-t-a{
  margin-top: 40px;
  max-width: 610px;
  background-color: #333333;
}
.sub{
  font-size: 40px;
  font-weight: bold;
  color: #333333;
}
.btn{
   font-size: 40px;
   padding: 8px auto;
   color: white;
 }
 .banner {
  font-size: 72px;
  font-weight: bolder;
  color: #333333;
}
.information{
  display: flex;
  overflow: auto;
  background-color: #f2f2f2;
}
.main{
  display: flex;
  flex-flow: column;
}
.divider{
  width: 60%;
  padding: 32px 24px;
}
.main-details{
  display: flex;
  flex-flow: column;
}
.main img{
  max-width: 100%;
}
.campus{
  display: flex;
  flex-flow: column;
  width: 40%;
  border-left: 1px solid #d9d9d9;
  padding-top: 32px;
}
.orientation, .our-campus, .our-guest{
  display: flex;
  flex-flow: row;
}
.campus .mobile{
  display: none;
}
.campus .desktop{
  width: 35%;
  height: auto;
  border: 1px solid black;
}
.orientation{
  padding: 0px 0px 16px 16px;
}
.our-campus{
  padding: 16px 0px 16px 16px;
  border-top: 1px solid #d9d9d9;
}
.our-guest{
  padding: 16px 0px 16px 16px;
  background-color: #d9d9d9;
}
.hln{
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 60px;
  color: #333333;
  font-weight: bolder;
  }
.details{
  display: flex;
  flex-flow: column;
  width: 65%;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.4;
  padding-left: 16px;
}
.details p, .details .hlt a{
  font-size: 24px;
  color: #333333;
}
.details .hlt a{
  margin-top: 8px;
  text-decoration: none;
  color: #4161e1;
}
.quote{
  font-size: 24px;
  color: #333333;
  line-height: 1.4;
  display: flex;
  flex-flow: column;
}
.quote span{
  margin-top: 96px;

  color: #333333;
}
.bold p{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}
.start-learning-mobile{
  display: none;
}
.start-learning{
  display: flex;
  flex-flow: column;
  padding: 32px 64px;
  align-items: center;
  background-color: #d9d9d9;
}
.title{
  margin-bottom: 32px;
  font-size: 60px;
  font-weight: bolder;
  color: #333333;
}
.programs img, .programs-middle img{
  width: 100%;
}
.programs {
width: 32.25%;
background-color: white;
box-shadow: 10px 10px 5px #b3b3b3;

}
.programs-middle{
  width: 32.25%;
  margin: 0px 32px;
  background-color: white;
  box-shadow: 10px 10px 5px #b3b3b3;
}
.dropdown{
  font-size: 32px;
  color: #333333;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-left: 16px;
}
.dropdown-content{
  font-size: 24px;
  color: #333333;
  line-height: 1.4;
  padding-left: 16px;
  padding-bottom: 24px;
}
.outline-title{
  font-size: 24px;
  color: #333333;
  margin-bottom: 8px;
  padding-left: 16px;
}
.top{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.bottom{
  width: 100%;
  display: flex;
}
.thesis-exhibit{
  padding: 32px 8px 32px 24px;
  width: auto;
  background-color: #f2f2f2;
  display: flex;
  flex-flow: column;
}
.thesis{
  display: flex;
}
.thesis-main{
  display: flex;
  flex-flow: column;
  margin-right: 16px;
  width: 60%;
}
.thesis-main .bold{
  margin-top: 24px;
}
.thesis-exhibit-right{
  display: flex;
  flex: auto;
  flex-flow: column;
  min-width: 423px;
}
.thesis-exhibit .title{
  text-align: center;
}
.design,.design-top{
  display: flex;
  height: 168px;
  padding: 16px;
}
.design img, .design-top img{
  width: 35%;
}
.design-top{
  background-color: #d9d9d9;
}
footer{
  height: 76px;
  padding: 24px 16px 24px 24px;
}
.footer-nav{
  display: flex;
}
.footer-nav li a{
  text-decoration: none;
  padding: 0px 8px;
  font-size: 24px;
  color: #333333;
}
.footer{
  display: flex;
}
.footer p{
  margin-right: auto;
  font-size: 24px;
  color: #333333;
}
@media only screen and (min-width: 380px) and (max-width: 802px){
  body{
    min-width: 380px;
    max-width: 802px;
  }
  header{
    display: none;
  }
  .header-mobile{
    display: flex;
    width: auto;
    height: 64px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 23;
  }
  .icon{

   width: 100%;

  }

  .main-banner{
    padding: 0px;
    width: auto;
  }
  .main-banner img{
    width: 100%;

    margin-bottom: 32px;
  }
  .main-banner-right{
    width: auto;
    padding: 0px 0px 32px 0px;


  }
  .banner{
    margin-bottom: 32px;
    padding-left: 16px;
  }
  .sub{
    padding-left: 16px;
  }
  .c-t-a{
  margin-left: 16px;
  margin-right: 16px;
  max-width: 770px;

  }
  .main-banner{

    flex-flow: column;
  }
  .divider{
    display: none;
  }
  .campus{
    width: 100%;
    padding: 16px 0px 32px 0px;
  }
  .campus .desktop{
    display: none;
  }
  .campus .mobile{
    display: block;
    width: auto;
  }
  .orientation,.our-campus,.our-guest{
    flex-flow: column;
    width: auto;
    padding-right: 16px;
  }
  .our-campus{
    padding: 64px 16px;
  }
  .orientation,.our-guest{
    padding: 0px 16px;
  }
  .our-guest{
    background-color: #f2f2f2;
  }
  .details{
    width: auto;
  }
  .start-learning{
    display: none;
  }

  .start-learning-mobile{
    display: flex;
    flex-flow: column;
    background-color: #f2f2f2;
    padding: 32px 16px;
  }
  .start-learning-mobile .title{
    margin-bottom: 0px;
    text-align: center;
  }




  .dropdown {

    background-color: #d9d9d9;
    color: #333333;
    width: auto;
    padding: 16px 16px 24px 16px;
    box-shadow: 5px 5px 2px #b3b3b3;
  }



  .dropdown-content{
    display: none;
    position: absolute;
    background-color: skyblue;
    width: auto;
    box-shadow: 0px 8px 16px 0px;
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  .thesis-exhibit-right, .thesis-main .bold,.thesis-main .quote{
    display: none;
  }
  .thesis-main {
    width: 100%;
    margin-right: 0px;
  }
  .thesis-exhibit .title{
    margin-bottom: 16px;
  }
  .thesis-exhibit{
    padding: 32px 0px 0px 0px;
  }
  .footer-nav{
    display: none;
  }
  footer{
    padding: 40px 16px 16px 16px;
  }

}
